<ul class="nav nav-pills nav-justified my-2">
    <li class="nav-item">
        <i class="bi-text-paragraph"></i>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Главная
        </NavLink>
    </li>
    <li class="nav-item">
        <i class="bi-tv"></i>
        <NavLink class="nav-link" href="games">
            Игры
        </NavLink>
    </li>
    <li class="nav-item">
        <i class="bi-people"></i>
        <NavLink class="nav-link" href="developers">
            Разработчики
        </NavLink>
    </li>
    <li class="nav-item">
        <i class="bi-controller"></i>
        <NavLink class="nav-link" href="platforms">
            Платформы
        </NavLink>
    </li>
    <li class="nav-item">
        <i class="bi-geo-alt"></i>
        <NavLink class="nav-link" href="countries">
            Страны
        </NavLink>
    </li>
</ul>