@{
    ViewBag.Title = "Разработчики";
}

@await Html.PartialAsync("_Navbar", Navbar.Current.Developers)

<a class="btn btn-outline-primary"  asp-action="DevelopersAdd">Добавить</a>

<div class="d-flex flex-wrap">
    @foreach (var dev in ViewBag.Developers)
    {
        <div class="p-2 m-2 bg-primary text-white rounded d-flex align-items-center">
            <p class="m-0">@dev.Name
                @if (dev.Country != null)
                {
                    @:| @dev.Country.Name

                }
            </p>
            <a class="btn p-1" asp-action="DevelopersEdit" asp-route-id="@dev.Id">
                <i class="bi-pencil text-white"></i>
            </a>
            <a class="btn p-1" asp-action="DevelopersDelete" asp-route-id="@dev.Id">
                <i class="bi-x text-white"></i>
            </a>
        </div>
    }
</div>
