@model Post
@{
    ViewBag.Title = "Изменить пост";
}

@await Html.PartialAsync("_Navbar", Navbar.Current.Main)

<form asp-action="MainEdit" asp-route-id="@Model.Id">

    <div class="form-floating my-2">
        <textarea type="text" class="form-control btn-dark bg-white text-dark" id="text" placeholder="Name"
            asp-for="Text" style="height: 150px;resize: none" maxlength="280" required></textarea>
        <label for="text" asp-for="Text">Пост</label>
    </div>

    <div class="form-floating mb-2">
        <select class="form-select btn-dark bg-white text-dark" id="country" aria-label="select" asp-for="GameId">
            <option>None</option>
            @foreach (Game game in ViewBag.Games)
            {
                <option value="@game.Id">@game.Name</option>
            }
        </select>
        <label for="country" asp-for="GameId">Игра</label>
    </div>

    <div class="form-group d-grid gap-2">
        <button type="submit" class="btn btn-dark" type="button">Сохранить</button>
    </div>

</form>