@{
    ViewBag.Title = "Платформы";
}

@await Html.PartialAsync("_Navbar", Navbar.Current.Platforms)

<a class="btn btn-outline-info" asp-action="PlatformsAdd">Добавить</a>

<div class="d-flex flex-wrap">
    @foreach (Platform platform in ViewBag.Platforms)
    {
        <div class="p-2 m-2 bg-info rounded d-flex align-items-center">
            <p class="m-0">@platform.Name</p>
            <a class="btn p-1" asp-action="PlatformsEdit" asp-route-id="@platform.Id">
                <i class="bi-pencil"></i>
            </a>
            <a class="btn p-1" asp-action="PlatformsDelete" asp-route-id="@platform.Id">
                <i class="bi-x"></i>
            </a>
        </div>
    }
</div>