@model Platform
@{
    ViewBag.Title = "Добавить платформу";
}

@await Html.PartialAsync("_Navbar", Navbar.Current.Platforms)

<form asp-action="PlatformsAdd">

    <div class="form-floating my-2">
        <input type="text" class="form-control btn-info bg-white" id="name" placeholder="Name" asp-for="Name" required>
        <label for="name" asp-for="Name">Название</label>
    </div>

    <div class="form-group d-grid gap-2">
        <button type="submit" class="btn btn-info" type="button">Добавить</button>
    </div>

</form>